<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm" (ngSubmit)="onAddItem(form)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            [ngModel]="selectedIngredient.name"
            required
            #name="ngModel"
            minlength="2"
          />
        </div>
        <br />

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            [ngModel]="selectedIngredient.amount"
            required
            min="1"
            #amount="ngModel"
          />
        </div>
      </div>

      <span *ngIf="!name.valid && name.touched" class="form-text text-muted"
        >Please enter a valid name
      </span>

      <br
        *ngIf="!name.valid && name.touched && !amount.valid && amount.touched"
      />
      <span
        *ngIf="!amount.valid && amount.touched"
        class="form-text text-muted"
      >
        Please enter a valid amount
      </span>

      <br />

      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success me-1"
            type="submit"
            [disabled]="!form.valid"
            *ngIf="selectedIngredientIndex == IngredientNotSelected"
          >
            Add
          </button>
          <button
            class="btn btn-success me-1"
            type="submit"
            [disabled]="!form.valid"
            *ngIf="selectedIngredientIndex != IngredientNotSelected"
          >
            update
          </button>
          <button
            class="btn btn-danger me-1"
            type="button"
            [disabled]="selectedIngredientIndex == IngredientNotSelected"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            class="btn btn-primary me-1"
            type="button"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
